<form action="/pay" method="post" id="form">
  <input type="submit" name="" id="btnBuy" value="Buy" />
</form>


<!-- 
<script>
  let obj= [
    {
      "_id": "62150fca1fff452f4c9c3712",
      "order": "62150fca1fff452f4c9c3711",
      "product": {
          "thumb": [
              "https://demo.uix.store/sober/wp-content/uploads/sites/2/2016/07/1.jpg",
              "https://demo.uix.store/sober/wp-content/uploads/sites/2/2016/07/2-433x516.jpg"
          ],
          "discount": 20,
          "evaluation": 0,
          "description": "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur",
          "sold": 14,
          "deleted": 0,
          "_id": "60afefeb8841df28fc60331d",
          "name": "Azure Tote",
          "price": 200,
          "category": "60afe44c8841df28fc603318",
          "createdAt": "2021-05-27T19:15:55.099Z",
          "updatedAt": "2022-03-25T08:56:37.641Z",
          "__v": 0
      },
      "quantity": 1,
      "discount": 20,
      "price": 200,
      "__v": 0,
      "createdAt": "2022-02-22T16:31:06.207Z",
      "updatedAt": "2022-02-22T16:31:06.207Z",
      "amount": 160,
      "id": "62150fca1fff452f4c9c3712"
    },
    {
      "_id": "62150fca1fff452f4c9c3713",
      "order": "62150fca1fff452f4c9c3711",
      "product": {
          "thumb": [
              "https://demo.uix.store/sober/wp-content/uploads/sites/2/2016/07/2-1.jpg",
              "https://cdn.shortpixel.ai/client/to_webp,q_glossy,ret_img,w_433/https://demo.uix.store/sober/wp-content/uploads/sites/2/2016/07/2-5-433x516.jpg"
          ],
          "discount": 3,
          "evaluation": 0,
          "description": "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.",
          "sold": 39,
          "deleted": 0,
          "_id": "60afed8d8841df28fc60331c",
          "name": "Black Glasses",
          "listImage": [
              ""
          ],
          "price": 310,
          "category": "60afe14664aebb16fc43c9aa",
          "createdAt": "2021-05-27T19:05:49.555Z",
          "updatedAt": "2022-11-02T12:29:40.162Z",
          "__v": 0
      },
      "quantity": 1,
      "discount": 0,
      "price": 310,
      "__v": 0,
      "createdAt": "2022-02-22T16:31:06.207Z",
      "updatedAt": "2022-02-22T16:31:06.207Z",
      "amount": 310,
      "id": "62150fca1fff452f4c9c3713"
    }
  ]

  let form= document.getElementById("form")
  form.body= obj
  let btnBuy= document.getElementById("btnBuy")

  btnBuy.addEventListener("click", async()=>{
    form.submit()
    // console.log("hell")
    // await fetch("https://localhost:5000/pay", {
    //   method: 'POST',
    //   headers: {
    //     'Accept': 'application/json',
    //     'Content-Type': 'application/json'
    //   },
    //   body: obj
    // })
  })
</script> -->
